#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:

override_dh_auto_install:
	install -p -m 0755 $(CURDIR)/debian/kaisen-timeshift-fast-restore $(CURDIR)/debian/grub-btrfs/usr/sbin/
	install -p -m 0755 $(CURDIR)/41_snapshots-btrfs $(CURDIR)/debian/grub-btrfs/etc/grub.d/
	install -p -m 0644 $(CURDIR)/config $(CURDIR)/debian/grub-btrfs/etc/default/grub-btrfs/
	install -p -m 0755 $(CURDIR)/grub-btrfsd $(CURDIR)/debian/grub-btrfs/usr/share/grub-btrfs/
	install -p -m 0755 $(CURDIR)/debian/initramfs/hooks/kaisen-grub-btrfs $(CURDIR)/debian/grub-btrfs/usr/share/initramfs-tools/hooks/
	install -p -m 0755 $(CURDIR)/debian/initramfs/local-bottom/kaisen-grub-btrfs $(CURDIR)/debian/grub-btrfs/usr/share/initramfs-tools/scripts/local-bottom/

override_dh_installman:
	dh_installman
	mv $(CURDIR)/debian/grub-btrfs/usr/share/man/man8/grub-btrfs.8.8 $(CURDIR)/debian/grub-btrfs/usr/share/man/man8/grub-btrfs.8
	mv $(CURDIR)/debian/grub-btrfs/usr/share/man/man8/grub-btrfsd.8.8 $(CURDIR)/debian/grub-btrfs/usr/share/man/man8/grub-btrfsd.8

override_dh_installsystemd:
	dh_installsystemd --no-restart-after-upgrade --no-stop-on-upgrade --no-restart-on-upgrade
