#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	install -p -m 0755 $(CURDIR)/41_snapshots-btrfs $(CURDIR)/debian/grub-btrfs/etc/grub.d
	install -p -m 0644 $(CURDIR)/config $(CURDIR)/debian/grub-btrfs/etc/default/grub-btrfs

override_dh_installsystemd:
	dh_installsystemd --no-restart-after-upgrade --no-stop-on-upgrade --no-restart-on-upgrade
